{% extends 'base.html' %}
{% load static %}

{% block style_links %}
    <link rel="stylesheet" href="{% static 'blog/styles/index.css' %}" />
{% endblock %}

{% block title %}
    All Comments
{% endblock %}

{% block content %}
    <section class="post-list">
        <h1>All Comments</h1>
        <ul>
            {% for comment in comment_list %}
                <div class="box-light">
                    {% include 'blog/includes/comment_preview.html' %}
                    <p>(From {{ comment.post.title }})</p>
                </div>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
