{% extends 'base.html' %}
{% load static %}

{% block style_links %}
    <link rel="stylesheet" href="{% static 'blog/styles/index.css' %}" />
{% endblock %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

    {% if comment_form.errors %}
        <div class="error-box">
            <h2>Saving the comment failed!</h2>
            <p>Please check bellow the reason why the comment couldn't be saved. :(</p>
            <a href="#comment-form">Fix!</a>
        </div>
    {% endif %}

    <section class="box-light post full-post">
        <h1>{{ post.title }}</h1>
        <img class="post-avatar" src="{{ post.image.url }}" alt="{{ post.title }}"/>
        <p class="excerpt">{{ post.excerpt }}</p>
        <p>{{ post.content }}</p>
        <div class="post-time">Last updated on <time>{{ post.date|date:"l, d F Y" }}</time></div>
        <br>
        <address class="post-preview-address">
            By <a href="mailto:{{ post.author.email_address }}">{{ post.author.full_name }}</a>
        </address>
        {% if post.has_tags %}
            <div class="post-tags">With tags {% for tag in post.tags_as_list %} <span class="tag-span"> {{ tag.caption }} </span> {% endfor %}</div>
        {% endif %}
        <div>
            <form method="POST" action="{% url 'read-later'%}">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id" />
                <button class="button-secondary">
                    {% if read_later is False %}
                        Read Later
                    {% else %}
                        Remove from 'Read Later'
                    {% endif %}
                </button>
            </form>
        </div>
    </section>

    <hr>

    <section class="post-list">
        <h1>Your Comment</h1>
        <div class="box-light"> 
            <form id="comment-form" action="{% url 'post' post.slug %}" method="POST">
                {% csrf_token %}
                {% for field in comment_form %}
                    <div class="form-control {% if field.errors %}error-form{% endif %}">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors}}
                    </div>
                {% endfor %}
                <button class="button-primary">Comment</button>
            </form>
        </div>
    </section>

    <hr>

    <section class="post-list">
        <h1>All Comments</h1>
        
        {% if comment_list %}
            {% for comment in comment_list %}
                <div class="box-light">
                    {% include 'blog/includes/comment_preview.html' %}
                </div>
            {% endfor %}
        {% else %}
            <p class="center-me">No comments yet. :(</p>
        {% endif %}
    </section>
{% endblock %}
